/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*::after{
  box-sizing: border-box;
}

body {
font-family: 'Red Hat Display', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.container-1{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn-1 {
  border: none;
  color: #fff;
  background-image: linear-gradient(178deg, #41D3EF 0%, #1F90BB 100%);
  border-radius: 30px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.4em 1.5em;
}

.btn-1:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

.btn-4 {
  border: none;
  color: #fff;
  background-image: linear-gradient(100deg,#FF771B,#ff5da1, #344CB6 100%);
  border-radius: 30px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.4em 1.5em;
}

.btn-4:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

.btn-5 {
  border: none;
  color: #fff;
  background-image: linear-gradient(100deg, #FF771B, #ff5da1, #344CB6 100%);
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.4em 1.5em;
}

.btn-5:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

#bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #F05AA2;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  margin: 1rem auto;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #F05AA2;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #F05AA2;
}

h2{
 color: #2B0917;
text-align: left;
font-size: 1.5rem;
letter-spacing: 0px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg{
  color: #fff;
  margin: 2rem;
  background: transparent radial-gradient(closest-side at 49% 48%, #2B09174F 0%, #2B0917D1 58%, #2B0917E1 71%, #2B0917 100%) 0% 0% no-repeat padding-box
}

.ouerService{
  text-align: left;
    letter-spacing: 0px;
    color: #1C2358;
    opacity: 1;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    font-size: 2rem;
}

.btn-2 {
  --primary-color: #F05AA0;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 4px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-top: 1rem;
}

.btn-2 .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-2 .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn-2 .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.btn-2:hover {
  background-color: var(--hover-color);
}

.btn-2:hover .arrow {
  background: var(--secondary-color);
}

.btn-2:hover .arrow:before {
  right: 0;
}

h1,h2{
font-family: 'Outfit', sans-serif;
}

h4{
  color: #2B0917;
  text-align: left;
  font-size: 8rem;
  letter-spacing: 0px;
  opacity: 1;
}

.btn-3{
  --primary-color: #F05AA0;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 4px;
  box-sizing: border-box;
  border: 0;
  border-radius: 25px;
  color: var(--secondary-color);
  padding: 0.8em 1.8em;
  background: linear-gradient(45deg, #F05BA1, #4B4EB3);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-top: 1rem;
}

.btn-3 .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-3 .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn-3:hover{
  animation: ani 8s linear infinite;
    border: none;
}
.hero-text{
letter-spacing: 0px;
opacity: 1;
color: #1C2358;
font: normal;
font-family: 'Outfit', sans-serif;
}

.hero-bg{
  background: linear-gradient(229deg, #F1FCFE, #F5F7F7FA 100%);
}
.hero-img{
  height: 650px;
  width: 650px;
}

.hero-sub{
  background: -webkit-linear-gradient(90deg,
    #FF771B,
    #ff5da1,
    #344CB6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-left{
  border-left: 4px solid #F05AA0;
  border-radius: 10px;
}

.border-left-2{
  border-left:4px solid #54BB78 ;
    border-radius: 10px;
}

.service-bg{
  background:#F2F7F8;
}

.service-text{
  color: #1C2358;
}

.bg-w{
  background-color: #ffff;
}
.bg-about{
background: -webkit-linear-gradient(40deg,
      #F7872C,
      #F45A27,
      #F45A27 100%);
      opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;opacity: 1;

}
.bg-clr{
  color:#1C2358;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.info-content {
  background-color: rgb(54, 42, 70);
  color: white;
  height: 80vh;
}

.container-2 {
  max-width:100%;
  margin: 0rem auto;
  padding: 2rem;
  position: relative;
}

.circle {
  width: 100px;
  height: 100px;
  line-height: 80px;
  border-radius: 50%;
}

.flex-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.c1 {
  border: 4px solid blue;
}

.c2 {
  position: absolute;
  top: 6rem;
  border: 4px solid pink;
}

.c3 {
  position: absolute;
  top: 10rem;
  border: 4px solid green;
}

.c4 {
  position: absolute;
  top: 14rem;
  border: 4px solid yellow;
}

.c5 {
  position: absolute;
  top: 18rem;
  border: 4px solid cyan;
}

.c6 {
  position: absolute;
  top: 22rem;
  border: 4px solid orange;
}
.mr{
  margin-right: 10px;
}

.border-2px{
  border: 1px solid black;
}
/* RESPONSİVE */

@media only screen and (max-width: 800px) {

  .flexcard {
    width: 35%;
    margin-top: 20px;
  }

  img.flexcardimgItem {
    width: 30%;
  }

}

@media only screen and (max-width: 500px) {

  .flexcard {
    width: 70%;
  }


}

@media only screen and (max-width: 600px) {
  body {
   
  }
  .hero-img {
    height: 250px;
    width: 250px;
  }
.sm-mt{
  margin-top: 10rem;
}
}

