/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*::after{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}


.btn {
  border: none;
  color: #fff;
  background-image: linear-gradient(178deg, #41D3EF 0%, #1F90BB 100%);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

.btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

#bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #F05AA2;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  margin: 1rem auto;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #F05AA2;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #F05AA2;
}

h2{
 color: #2B0917;
text-align: left;
font-size: 1.5rem;
letter-spacing: 0px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg{
  color: #fff;
  margin: 2rem;
  background: transparent radial-gradient(closest-side at 49% 48%, #2B09174F 0%, #2B0917D1 58%, #2B0917E1 71%, #2B0917 100%) 0% 0% no-repeat padding-box
}

.ouerService{
  text-align: left;
    letter-spacing: 0px;
    color: #1C2358;
    opacity: 1;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    font-size: 2rem;
}

.btn-2 {
  --primary-color: #F05AA0;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-top: 1rem;
}

.btn-2 .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-2 .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn-2 .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.btn-2:hover {
  background-color: var(--hover-color);
}

.btn-2:hover .arrow {
  background: var(--secondary-color);
}

.btn-2:hover .arrow:before {
  right: 0;
}

h4{
  color: #2B0917;
  text-align: left;
  font-size: 8rem;
  letter-spacing: 0px;
  opacity: 1;
}

.btn-3{
  --primary-color: #F05AA0;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 25px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: linear-gradient(45deg, #F05BA1, #4B4EB3);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-top: 1rem;
}

.btn-3 .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-3 .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn-3:hover{
  animation: ani 8s linear infinite;
    border: none;
}

.hero-img{
  height: 500px;
  width: 500px;
}